.application-container{
  background: #b5d592;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
  align-content: center;
}

.tools-menu-container{
  width: 20%;
}

.tool-board-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tools-menu button {
  width: calc(100% - 40px);
  box-sizing: border-box;
  margin: 5px 20px;
  padding: 10px 20px;
  border-radius: 8px;
  background: #93d748;
  border: 1px solid #086308;
  outline: none;
}

.tools-menu .active {
  background: #859d29;
}

.tools-menu button:hover{
  background: #7c9325;
}

.tools-menu button:hover {
  cursor: pointer;
}

.draw-board-container{
  width: 80%;
  height: 60%;
  box-sizing: border-box;
  border: 1px dashed black;
  background: #fff;
  border-radius: 4px;
}

.tool-board-container{
  width: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  background: #2b81af;
}

.tool-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tool-details .tool-color {
  height: 40px;
  width: 200px;
}

.tool-details span {
  min-width: 50%;
}
